
<% if !options.show_description %>

<% table_for  content_nodes, ["Name","Updated","By"], :class => 'mini_table', :width => '100%' do |t| -%>
<tr>
  <td><%= link_to h(truncate(t.title,:length => 40)), t.admin_url -%>
      <% if options.show_description -%>
      <br/>
      <em><%= t.content_description(current_language) -%></em>
      <% end -%>
  </td>
  <td><%= t.updated_at.to_s(:short) -%></td>
  <td><%= t.last_editor ? link_to(t.last_editor.first_name,member_url(t.last_editor_id)) : '-' -%></td>
</tr>
<% end -%>


<% else -%>



<% table_for  content_nodes, ["Name","Updated"], :class => 'mini_table', :width => '100%' do |t| -%>
<tr>
  <td><%= link_to h(truncate(t.title,:length => 60)), t.admin_url -%>
      <% if options.show_description -%>
      <br/>
      <%= t.content_description(current_language) -%>
      <% end -%>
  </td>
  <td><%= t.updated_at.to_s(:short) -%><br/>
    <% if t.last_editor %>
      by
       <%= link_to(t.last_editor.first_name,member_url(t.last_editor_id)) %>
    <% end -%>
    </td>
</tr>
<% end -%>







<% end -%>  