%hr/
%div{:align => "center", :style => "padding:30px"}
  - if !DomainModel.active_domain[:active]
    .error= DomainModel.active_domain[:inactive_message]
  #login_box
    = tabled_form_for :user, @user, :html => { :class => 'admin_form' } do |f|
      = f.text_field :username
      = f.password_field :password
      = f.spacer
      = f.submit_tag "Login"
    
:javascript
  Event.observe(window, 'load', function() { $('user_username').focus(); });
