
<div class="active_table_wrapper">
<table class="active_table">
<tr>
<th class="first" colspan="2"><a href="javascript:void(0);" onclick="SourcesCharts.next()">Next</a></th>
<% @traffic.each_with_index do |t, index| -%>
<th class="day"><span id="chart_day<%= index + 1 %>"><%= t[:started_at].strftime('%A') %></span></th>
<% end -%>
<th><a href="javascript:void(0);" onclick="SourcesCharts.prev()">Prev</a></th>
</tr>

<tr>
<td class="section"><%= 'Revenue'.t %></td>
<td></td>
<% @traffic.each_with_index do |t, index| -%>
<td class="value"><span id="chart_value<%= index + 1 %>"><%= number_to_currency t[:total_value] %></span></td>
<% end -%>
<td></td>
</tr>

<tr>
<td class="section"><%= 'Conversions'.t %></td>
<td></td>
<% @traffic.each_with_index do |t, index| -%>
<td><div id="chart_pie<%= index + 1 %>"></div></td>
<% end -%>
<td class="legend"><div id="chart_pie_legend"></div></td>
</tr>

<tr>
<td class="section"><%= 'Visitors'.t %></td>
<td><div id="chart_bar_ruler"></div></td>
<% @traffic.each_with_index do |t, index| -%>
<td><div id="chart_bar<%= index + 1 %>"></div></td>
<% end -%>
<td class="legend"><div id="chart_bar_legend"></div></td>
</tr>

<tr>
<td></td>
<td></td>
<% @traffic.each_with_index do |t, index| -%>
<td class="date"><span id="chart_date<%= index + 1 %>"><%= t[:started_at].strftime('%F') %></span></td>
<% end -%>
<td></td>
</tr>

</table>
</div>

<script type="text/javascript">

SourcesCharts.chart = WebivaStatsChart(
{
user_level_types: ['Subscribers', 'Leads', 'Conversions'],
user_level_colors: ['#C7CB2D', '#754C28', '#FF0000'],

source_types: <%= @sources.collect(&:name).to_json %>,
source_colors: ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"],

sources: <%= @traffic.collect { |t| t[:sources] }.to_json %>,

user_levels: <%= @traffic.collect { |t| t[:user_levels][1..-1] }.to_json %>

});

SourcesCharts.chart.draw();
</script>
