<%
chart_title = @from.strftime('%A, %e %B')
case @when
when 'yesterday'
  chart_title = @from.strftime('%A, %e %B')
when 'week'
  chart_title = @from.strftime('%A, %e %B') + ' - ' + Time.now.strftime('%A, %e %B')
when 'last_week'
  chart_title = @from.strftime('%A, %e %B') + ' - ' + (@from + 1.week - 1.day).strftime('%A, %e %B')
when 'month'
  chart_title = @from.strftime('%B')
when 'last_month'
  chart_title = @from.strftime('%B')
end
%>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(fetchData);
function fetchData() {
  $j.getJSON('<%= url_for :path => params[:path] %>.json', {when: '<%= @when %>'}, function(res) {
                       var data = new google.visualization.DataTable(res.table, res.version);
                       for(var i=0; i<res.urls.length; i++ ) { data.setRowProperty(i, 'url', res.urls[i]); }
                       drawBarChart('chart_div', res.title, data);
                     });
}

function drawChart() {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Title');
  data.addColumn('number', 'Visitors');
  data.addColumn('number', 'Hits');
  data.addRows(<%= @stats.size %>);
  <% @stats.each_with_index do |stat,idx| -%>
    data.setValue(<%= idx %>, 0, '<%= jh stat.target.send(@title) %>');
    data.setValue(<%= idx %>, 1, <%= stat.visits %>);
    data.setValue(<%= idx %>, 2, <%= stat.hits %>);
    data.setRowProperty(<%= idx %>, 'url', '<%= url_for stat.target.admin_url %>');
  <% end -%>

  drawBarChart('chart_div', '<%= jh chart_title %>', data);
}

function drawBarChart(ele_id, title, data) {
  var width = 1000;
  var height = data.getNumberOfRows() * 36 + 80;
  var maxValue = 0;
  for(var i=1; i<data.getNumberOfColumns(); i++) {
    maxValue = Math.max(maxValue, data.getColumnRange(i).max);
  }

  var sortColumn = 1;
  var sortDesc = true;
  data.sort([{column: sortColumn, desc: sortDesc}]);

  var chart = new google.visualization.BarChart(document.getElementById(ele_id));
  var chartOptions = {
    width: width,
    height: height,
    title: title,
    hAxis: {minValue: 0, maxValue: maxValue, textStyle: {fontSize: 12}},
    vAxis: {textStyle: {fontSize: 13}},
    legendTextStyle: {fontSize: 11},
    titleTextStyle: {fontSize: 15},
    tooltipTextStyle: {fontSize: 12}
  };

  chart.draw(data, chartOptions);

  google.visualization.events.addListener(chart, 'select', function(event) {
    var row = chart.getSelection()[0].row;
    var col = chart.getSelection()[0].column;
    if( row == undefined ) {
      if(col == sortColumn) {
        sortDesc = ! sortDesc;
      } else {
        sortDesc = true;
      }
      sortColumn = col;
      data.sort([{column: sortColumn, desc: sortDesc}]);
      chart.draw(data, chartOptions);

    } else {
      var url = data.getRowProperty(row, 'url');
      if(url) {
        document.location = url;
      }
   }
  });
}

</script>

<% action_panel do |p| -%>
  <% @chart_links.each do |link| -%>
    <%= p.link link[0], :icon => 'show.gif', :url => link[1] %>
  <% end -%>
<% end -%>
<hr/>

<div class='admin_content'>
  <div style="padding-bottom:10px;">
    <%= @when_options.collect { |opt| link_to opt[0], {:when => opt[1]}, :class => @when == opt[1] ? 'selected' : nil }.join(' | ') %>
  </div>
  <div id="chart_div"></div>
</div>
