<br/>
<br/>

<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
  var width = 1000;
  var height = <%= @traffic.domain_log_stats.size * 60 %>;
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Content');
  data.addColumn('number', 'Visitors');
  data.addColumn('number', 'Hits');
  data.addRows(<%= @traffic.domain_log_stats.size %>);
  <% @traffic.domain_log_stats.each_with_index do |stat,idx| -%>
    data.setCell(<%= idx %>, 0, '<%= jh stat.target.title %>', '<%= jh stat.target.title %>', {url: '<%= url_for stat.target.admin_url %>'});
    data.setValue(<%= idx %>, 1, <%= stat.visits %>);
    data.setValue(<%= idx %>, 2, <%= stat.hits %>);
  <% end -%>

  var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
  chart.draw(data, {width: width, height: height, title: 'Content',
                    hAxis: {minValue: 0, maxValue: <%= @max_hits %>}
                   });

  google.visualization.events.addListener(chart, 'select', function(event) {
    var row = chart.getSelection()[0].row;
    var url = data.getProperty(row, 0, 'url');
    document.location = url;
  });
}

</script>

<div id="chart_div"></div>
