<% if permit?('editor_structure') %>
<ul class='page_detail_buttons'>
  <li class='icon'><a href='javascript:void(0);'  title='<%= vh 'Delete module'.t%>' onclick='StructureEditor.nodeDelete(<%= @node.id %>,"<%= jh "Are you sure you want to remove this module?" .t %>");'><%= image_tag(theme_src('icons/header_actions/delete_page.png')) %></a></li>
</ul>  
<% end -%>


<h1 class='inpage'><%= 'Site Map Options:'.t %> <a href='<%= @node.node_path %>'><%= @node.node_path %></a></h1>
<div class='tree_detail_body'>
<% if flash[:notice] %>
<div class='inpage_flash_notice'>
  Updated Options
</div>
<% end -%>
</div>
