
<% cms_unstyled_fields_for form_id, builder do |f| %>
  <% builder.operation_arguments.each_with_index do |arg, idx| -%>
    <li>
    <% 
       arg_options = builder.operation_argument_options[idx]
       description = arg_options[:description]
     %>

    <% if builder.operation_arguments[idx] == :model -%>
      <%= f.select("argument#{idx}", [["--Select %s--" / builder.operation_argument_names[idx], nil]] + UserSegment::FieldType.model_options(arg_options)) %>
    <% elsif builder.operation_arguments[idx] == :array -%>
      <%= f.check_boxes("argument#{idx}", UserSegment::FieldType.model_options(arg_options), :separator => '<br/>') %>
    <% elsif arg_options[:options] -%>
      <%= arg_options[:form_field] == 'radio_buttons' ? f.radio_buttons("argument#{idx}", arg_options[:options]) : f.select("argument#{idx}", arg_options[:options]) %>
    <% elsif builder.operation_arguments[idx] == :boolean -%>
      <%= f.yes_no "argument#{idx}" %>
    <% else -%>
      <%= f.text_field "argument#{idx}" %>
    <% end -%>
    <%= "<br/><span class='description'>#{description}</span>" if description %>
    </li>
  <% end -%>
<% end %>
