
<script>
OperationBuilder = {
  updateOperations: function() {
    <%= remote_function :url => url_for(:action => 'update_builder', :operation => 1), :submit => 'builder', :update => 'operation' %>;
    OperationBuilder.updateExpression();
  },

  updateArguments: function() {
    <%= remote_function :url => url_for(:action => 'update_builder', :arguments => 1), :submit => 'builder', :update => 'arguments' %>;
    OperationBuilder.updateExpression();
  },

  updateExpression: function() {
    <%= remote_function :url => url_for(:action => 'update_builder', :expression => 1), :submit => 'builder', :update => 'expression' %>;
  }
}
</script>

<fieldset id="operation_builder">
<legend>User Segment Syntax Helper</legend>
<% cms_unstyled_form_for :builder, @builder, :html => {:id => 'builder', :onsubmit => 'OperationBuilder.updateExpression(); return false;'} do |f| -%>
<ul>
<li>
<lable><%= 'I am'.t %></label>
<%= f.check_boxes :operator, [['not', 'not']], :single => true %>
</li>
<li>
<label><%= 'looking for'.t %></label>
  <%= f.select :field, @builder.field_options, {}, :onchange => 'OperationBuilder.updateOperations();' %>
</li>

<div id="operation" class="operation">
<%= render :partial => 'operation_form_operation' %>
</div>

<li class="submit">
<%= f.submit_tag 'Build' %>
</li>

<li id="expression">
<%= render :partial => 'operation_form_expression' %>
</li>

<% end -%>

</fieldset>

<%= observe_form 'builder', :frequency => 1, :function => 'OperationBuilder.updateExpression();' %>
