
<% cms_unstyled_fields_for form_id, builder do |f| %>

<tr>
<td align="center" valign="middle">
<%= builder.field_builder_name %>
</td>

<td>
<ul class="arguments">
<% if builder.operation_options.length == 1 -%>
  <%= f.hidden_field :operation %>
<% else -%>
  <li>
  <%= f.select :operation, builder.operation_options, {}, :onchange => 'OperationBuilder.updateOperations();' %>
  </li>
<% end -%>

<%= render :partial => 'operation_form_arguments', :locals => {:form_id => form_id, :builder => builder} %>
    <%= "<span class='description'>#{builder.field_builder_description}</span>" if builder.field_builder_description %>
</ul>
</td>
</tr>

<tr><td colspan="2" class="spacer"></td></tr>

<% unless builder.condition.blank? -%>

<tr>
  <th colspan="2">
  <%= f.select :condition, builder.condition_options, {}, :onchange => 'OperationBuilder.updateOperations();', :class => 'condition' %>
  <%= 'Condition #%s' / (builder.index+1).to_s %>
  </th>
</tr>
<tr><td colspan="2" class="spacer"></td></tr>
<%= render :partial => 'operation_form_child', :locals => {:builder => builder.child_field, :form_id => "#{form_id}[child]", :condition => builder.condition} %>

<% else -%>

<tr id="new_condition_button">
  <td colspan="2">
  <a href="javascript:void(0);" onclick="$('new_condition_button').hide(); $('new_condition').show();"><span class="inverse_blue">+</span> <%= 'Add another condition'.t %></a>
  </td>
</tr>
<tr id="new_condition" style="display:none;">
  <th colspan="2">
  <%= f.select :condition, builder.condition_options, {}, :onchange => 'OperationBuilder.updateOperations();', :class => 'condition' %>
  <%= 'Condition #%s' / (builder.index+1).to_s %>
  </th>
</tr>
<tr><td colspan="2" class="spacer"></td></tr>

<% end -%>


<% end %>
